<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campaign Backdoor Request</title>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <link rel="stylesheet" href="/static/main.css" />
</head>

<body>
    <div class="container">
        <h2>Simple IMS</h2>
        <a href="/items/list"><button>See Items/Inventory</button></a><br><br>
        <a href="/packages/list"><button>See Packages</button></a><br><br>
        <a href="/stockadjustment/list"><button>In/Out Inventory!</button></a><br><br>
        <a href="/history/list"><button>History</button></a><br><br>

    <div id="notification">
        <table>
            {% if notification %}

                <tr class="header">
                <th>Item Name</th>
                <th>Threshold</th>
                <th>Stock</th>
                </tr>
                {% autoescape false %}
                {{ notification }}
                {% endautoescape %}
            {% endif %}
          </table>
    </div>

    </div>
</body>

</html>