<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple IMS</title>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/static/main.js"></script>
</head>

<body>
    <div class="container">
        <h2>Simple IMS</h2>
        <a href="/items/list"><button>See Items/Inventory</button></a><br><br>
        <a href="/packages/list"><button>See Packages</button></a><br><br>
        <a href="/stockadjustment/list"><button>In/Out Inventory!</button></a><br><br>
        <a href="/history/list"><button>History</button></a><br><br>

    {% if notification %}
    <div id="notification">
        <table id="item_table">
            <tr>
                <th onclick="sortTableItem(0)">Item Name</th>
                <th onclick="sortTableItem(1)">Threshold</th>
                <th onclick="sortTableItem(2)">Stock</th>
            </tr>
                {% autoescape false %}
                {{ notification }}
                {% endautoescape %}
          </table>
    </div>
    {% endif %}

    </div>
</body>

</html>