<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>History list</title>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
  <link rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div class="container">
    <a href="/"><img class="icon" src="/static/home.png"></a>
    <a href="/items/list"><button>Items</button></a>
    <a href="/packages/list"><button>Packages</button></a>
    <a href="/stockadjustment/list"><button>In/Out</button></a>
    <a href="/history/list"><button>History</button></a><br><br>

    <h2>History List</h2>
    <div>
      <table>
        <tr class="header">
          <th>History ID</th>
          <th>Timestamp</th>
          <th>Name</th>
          <th>Type</th>
          <th>Stock</th>
          <th hidden>Prev Value</th>
          <th hidden>Updated Value</th>
          <th>Notes</th>
        </tr>
        {% autoescape false %}
        {{ history_data }}
        {% endautoescape %}
      </table>
    </div>
  </div>
</body>

</html>