<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>History list</title>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
  <link rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div class="container">
    <h2><a href="/"><img class="icon" src="/static/home.png"></a>Item List</h2>

    <div>
      <table>
        <tr class="header">
          <th>History ID</th>
          <th>Type</th>
          <th>Name</th>
          <th hidden>Prev Value</th>
          <th hidden>Updated Value</th>
          <th>Notes</th>
        </tr>
        {% autoescape false %}
        {{ history_data }}
        {% endautoescape %}
      </table>


    </div>
    <a href="/items/add/0"><button>Add new item</button></a><br><br>
  </div>
</body>

</html>