<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{action}}</title>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <script type="text/javascript">
        function notifyCheck() {
            if (document.getElementById('option_notify_yes').checked) {
                document.getElementById('if_notify').style.visibility = 'visible';
            }
            else document.getElementById('if_notify').style.visibility = 'hidden';

        }
    </script>
    <link rel="stylesheet" href="/static/main.css" />
</head>

<body>
    <div class="container">
        <h2><a href="/"><img class="icon" src="/static/home.png"></a>{{action}}</h2>
        <form method="POST">
            <label for="item_name">Item name</label><br>
            {% if db_name is not none %}
            <input type="text" id="input_item_name" name="item_name" value="{{db_name}}" required><br>
            {% else %}
            <input type="text" id="input_item_name" name="item_name" required><br>
            {% endif %}
            <br>

            <label for="item_modal_price">Modal Price</label><br>
            {% if db_modal is not none %}
            <input type="number" id="input_item_modal_price" name="item_modal_price" value="{{db_modal}}" min="0" required><br>
            {% else %}
            <input type="number" id="input_item_modal_price" name="item_modal_price" min="0" required><br>
            {% endif %}
            <br>

            <label for="item_selling_price">Selling Price</label><br>
            {% if db_selling is not none %}
            <input type="number" id="input_selling_price" name="item_selling_price" value="{{db_selling}}" min="0" required><br>
            {% else %}
            <input type="number" id="input_selling_price" name="item_selling_price" min="0" required><br>
            {% endif %}
            <br>

            <label for="item_quantity">Quantity</label><br>
            {% if db_selling is not none %}
            <input type="number" id="input_item_quantity" name="item_quantity" value="{{db_qty}}" min="0" required><br>
            {% else %}
            <input type="number" id="input_item_quantity" name="item_quantity" min="0" required><br>
            {% endif %}
            <br>


            <label for="item_stock_notify">Notify Stock?</label>
            {% if (db_notify == none) or (db_notify == 'no') %}
            <div>
                <input type="radio" name="notify_options" onclick="javascript:notifyCheck();" id="option_notify_no"
                    value="no" checked> Don't notify</input><br>
                <input type="radio" name="notify_options" onclick="javascript:notifyCheck();" id="option_notify_yes"
                    value="yes"> Notify</input>
                <br>
                <br>
                <div id="if_notify" style="visibility:hidden">
                    <label for="input_notify_threshold">Notify threshold</label>
                    <input type="number" id="input_notify_threshold" min="1" name="notify_threshold" value="1"
                        placeholder="Notify when qty is below threshold"><br>
                </div>
            </div>
            {% else %}
            <div>
                <input type="radio" name="notify_options" onclick="javascript:notifyCheck();" id="option_notify_no"
                    value="no"> Don't notify</input><br>
                <input type="radio" name="notify_options" onclick="javascript:notifyCheck();" id="option_notify_yes"
                    value="yes" checked> Notify</input>
                <br>
                <br>
                <div id="if_notify">
                    <label for="input_notify_threshold">Notify threshold</label>
                    <input type="number" id="input_notify_threshold" min="1" name="notify_threshold"
                        value="{{db_notify_thres}}" placeholder="Notify when qty is below threshold"><br>
                </div>
            </div>
            {% endif %}
            <br>
            <br>
            <input type="submit" value="Submit" class="button">
        </form>
    </div>
</body>

</html>