<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>In and Out Inventory</title>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }


    async function soldItem(itemId) {
      const qty = document.getElementById("sold_item_" + String(itemId)).value
      if (qty != "") {
        fetch('/stockadjustment/item/' + String(itemId), {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ "qty": qty })
        })
        alert('Stock has been adjusted') ? "" : location.reload();

      } else {
        alert('Empty value!');
      }
    }

    async function soldPackage(packageId) {
      const qty = document.getElementById("sold_package_" + String(packageId)).value
      if (qty != "") {
        if (Number(qty) <= 0) {
          alert('Positive integer only for package');
        } else {
          fetch('/stockadjustment/package/' + String(packageId), {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ "qty": qty })
          })
          alert('Stock on related package has been adjusted') ? "" : location.reload();
        }
      } else {
        alert('Empty value!');
      }
    }


  </script>
  <link rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div class="container">
    <a href="/"><img class="icon" src="/static/home.png"></a>
    <a href="/items/list"><button>Items</button></a>
    <a href="/packages/list"><button>Packages</button></a>
    <a href="/stockadjustment/list"><button>In/Out</button></a>
    <a href="/history/list"><button>History</button></a><br><br>
    <h2>In/Out Inventory</h2>
    <small>Input negative number for inbound item (add qty)<br>Input positive number for outbound item (sold/lost
      qty)</small>
    <div>
      <h1>Package</h1>
      <table>
        <tr class="header">
          <th>Package ID</th>
          <th>Package Name</th>
          <th>Available Stock</th>
          <th>Out Number</th>
        </tr>
        {% autoescape false %}
        {{ package_data }}
        {% endautoescape %}
      </table>
    </div>

    <div>
      <h1>Items</h1>
      <table>
        <tr class="header">
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Stock</th>
          <th>Out Number</th>
          <th>Action</th>
        </tr>
        {% autoescape false %}
        {{ item_data }}
        {% endautoescape %}
      </table>
    </div>
  </div>
</body>

</html>